/**
 * ✅ You can edit this file to add your own styles.
 */


.reels {
    /*background: green;*/
    display: grid;
    width: 100%;
}

.reel-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
    background: #1D212C;
    border: 1px solid gray;
}

.reels-scroller{
    display: flex;
}

.reels-scroller.animation {
    animation: scroll linear infinite;
    animation-duration: var(--animation-duration);
}

.reels-scroller.no-animation {
    animation: none;
}

.reels-scroller:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}


.animated:hover {
    animation-play-state: paused;
}
